<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Bienvenido a <%= title %></h1>
  <p>El portal de preguntas y respuestas <%= title %></p>
  <a href="/quizes/question">Ir a las preguntas</a>
</body>
</html>
