<table>
  <% for (var i = 0; i < quizes.length; i++) {%>
    <td><tr><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></tr></td><br><br>
  <% } %>
</table>
<a href="/quizes/new"><h5>Ingresar una nueva pregunta</a></h5>
Buscardor:
<form action="/quizes" method="get">
  <input type="text" name="search" value="Ingrese la busqueda">
  <input type="submit"  value="Enviar">
</form>
